@import "../../variable";

.country-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pageTitle {
      font-size: 24px;
      font-weight: 500;
      color: $primary-color;
    }
  }
  .serchBox-part {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .table-part {
    width: 100%;
    overflow-x: auto;
    table, td, th {
      border: 1px solid rgba($color: #5932EA, $alpha: 0.21);
      border-collapse: collapse;
    }
    .country-table {
      width: 100%;
      @media (max-width: 1024px) {
				width: 120%;
			}
      th {
        padding: 15px 10px;
        background-color: $primary-color;
        color: white;
        text-align: center;
      }
      td {
        padding: 15px 10px;
        text-align: center;
      }
    }
  }
}