@import '../../variable.scss';

.registerBox {
	width: 450px;
	@media (max-width: 1024px) {
		width: 100%;
	}
	display: flex;
	flex-direction: column;
	gap: 10px;
	.titleBox {
		display: flex;
		flex-direction: column;
		gap: 10px;
		.title {
			font-size: 18px;
			color: $primary-font;
			text-align: center;
			span {
				font-weight: 600;
			}
		}
		.caption {
			font-size: 16px;
			color: #949CA9;
		}
	}
	.underlineBox {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		margin-bottom: 20px;
		.underline {
			border: 1px solid #E8E9EA;
			width: 25%;
		}
	}
	.subTitle {
		font-size: 14px;
		color: #282828;
		font-weight: 600;
	}
	.subBox {
		display: flex;
		flex-direction: column;
		gap: 10px;
		input {
			outline: none;
			padding: 15px;
			border: 1px solid #E8E9EA;
			border-radius: 6px;
			color: #282828;
			font-size: 14px;
			&::placeholder {
				color: #949CA9;
				font-family: 'PrimaryFont';
			}
		}
		.selectRole {
			border: 1px solid #E8E9EA;
			padding: 15px;
			border-radius: 6px;
			color: #282828;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 14px;
			position: relative;
			cursor: pointer;
			.dropBox {
				position: absolute;
				top: 50px;
				left: 0;
				background-color: white;
				width: -webkit-fill-available;
				display: flex;
				flex-direction: column;
				gap: 10px;
				border: 1px solid #E8E9EA;
				border-radius: 6px;
				.role {
					font-size: 14px;
					padding: 15px;
					&:hover {
						background-color: #e9e9e9;
						cursor: pointer;
					}
				}
			}
		}
	}
	.passwordBox {
		display: flex;
		flex-direction: column;
		gap: 10px;
		
		.password-input {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 20px;
			@media (max-width: 500px) {
				flex-direction: column;
			}
			.passwordSubBox {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 10px;
				@media (max-width: 500px) {
					width: 100%;
				}
			}
			.passwordInputTag {
				display: flex;
				align-items: center;
				border: 1px solid #E8E9EA;
				padding: 15px;
				border-radius: 6px;
				input {
					width: 90%;
					border: none;
					outline: none;
					color: #282828;
					font-size: 14px;
					&::placeholder {
						color: #949CA9;
						font-family: 'PrimaryFont';
					}
				}
				.icon {
					display: flex;
				}
			}
		}
	}
	.termsBox {
		display: flex;
		align-items: center;
		gap: 10px;
		input {
			width: 15px;
			height: 15px;
		}
		span {
			color: $primary-color;
		} 
		a {
			text-decoration: none;
			color: $primary-font;
		}
	}
	.other {
		text-align: center;
		margin-top: 10px;
		span {
			color: $primary-color;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.errorText {
		font-size: 13px;
		color: red;
		margin-top: -5px;
	}
	.errorFalse {
		font-size: 13px;
		color: white;
		margin-top: -5px;
	}
}